
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  background-color: #e86696;
}

.flex-container {
  display: flex;
}

.dim-bg {
  background-color: #c73c71;
}

.copyright-text {
  font-size: 1.1em;
  text-align: center;
  color: #fff;
  padding: 2%;
}
